<div class="container-fluid py-5">
    <div class="container-xl py-5">
        <h1>How it Works?</h1>
        <div class="row">
            <div class="col-sm">
                <a>Lorem ipsum dolor </a>
            </div>
            <div class="col-sm">
                <a>image</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary py-5">
    <div class="container-xl py-5">
        <h1>Find Stuff</h1>
        <div class="">
            <div class="">
                <a>Lorem ipsum dolor </a>
            </div>
            <div class="btn">
                <a href="/products">GO</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container-xl py-5">
        <h1>Rent Stuff out</h1>
        <div class=>
            <div class=>
                <a>Lorem ipsum dolor </a>
            </div>
            <div class="btn">
                <a href="products/new">GO</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary py-5">
    <div class="container-xl py-5">
        <h1>Why We Do It</h1>
        <div class="row">
            <div class="col-sm">
                <a>Lorem ipsum dolor </a>
            </div>
            <div class="col-sm">
                <a>image</a>
            </div>
        </div>
    </div>
</div>
</div>