<link rel="stylesheet" href="/css/main.css">

<% if (userId !==undefined) { %>
  <li class="nav-item">
    <a class="nav-link active" href="/users/show/<%= userId %>">
      <%= username %>
    </a>
  </li>
  <% } else { %>
    <li class="nav-item">
      <a class="nav-link active" href="/users/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/users/new">Sign Up</a>
    </li>
    <% } %>
