<head>
    <link rel="stylesheet" href="/css/main.css">
</head>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Rentify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/products/new">New Product</a>
            </li>
            <% if(role==='admin' ){%>
                <li class="nav-item">
                    <a class="nav-link active" href="/users">Profiles</a>
                </li>
                <%}%>
                    <%- include('account.ejs') %>
                </li>
        </ul>
      </div>
    </div>
  </nav>

<script src="/js/boot.js"></script>